---
- name: "Add keys to user {{ user }}"
  when: user in ansible_facts.getent_passwd.keys()
  block:

    - name: Add authorized key
      ansible.posix.authorized_key:
        user: "{{ user }}"
        state: present
        key: "{{ item }}"
      loop: "{{ ssh_keys_to_add }}"
      become: true
      become_user: root
